.cart__page {
    background-color: white;
    position: relative;
    max-width: 920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0 auto;
    height: 100%;
    text-align: left;
    padding: 40px;
    padding-bottom: 100px;
}

.cart__page__list__items {
    display: flex;
    flex-direction: column;
}

.cart__page h2 {
    align-self: flex-start;
    margin-top: 20px;
}

.cart__page__list__items__form {
    display: flex;
}

.cart__item__container {
    border: 1px solid #ECEEF0;
    box-shadow: 0px 4px 14px rgba(121, 121, 121, 0.0527344);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 16px;
    width: 560px;
    max-height: 160px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.cart__item__container img {
    width: 125px;
    height: 125px;
    object-fit: contain;
    border-radius: 3px;
    box-shadow: 0px 4px 14px rgb(121 121 121 / 5%);
    border: 1px solid lightgray;
}

.cart__form {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    border-left: 1px solid #DEDEE0;
}

.input__block {
    display:flex;
    flex-direction: column;
    text-align: left;
    position:relative;
    width: 220px;
}

.input__block input {
        box-sizing: border-box;
        background-color: transparent;
        border:1px solid lightgray;
        width:220px;
        height: 40px;
        margin: 10px 0px;
        padding: 0px 10px;
        border-radius: 5px;
        outline: none;
        font-size: 16px;
}

.input__block input:focus {
    border: 2px solid #707070;
    transition: 0.5s;
}

.cart__form .input__block span {
    position: absolute;
    left: 0;
    top:20px;
    padding: 0px 10px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}

.input__block input:focus ~ span,
.input__block input:not(:placeholder-shown) ~ span {
    font-weight: 600;
    transform: translateX(10px) translateY(-20px);
    font-size: 14px;
    background: white;
}

.select__block {
    display:flex;
    flex-direction: column;
    text-align: left;
    position:relative;
    width: 220px;
}

.select__block select {
    box-sizing: border-box;
    background-color: transparent;
    border:1px solid lightgray;
    width:220px;
    height: 40px;
    margin: 10px 0px;
    padding: 0px 10px;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.select__block select:focus {
    border: 2px solid #707070;
    transition: 0.5s;
}

.cart__form .select__block span {
    position: absolute;
    left: 10px;
    top: 0px;
    padding: 0px 10px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
    background-color: white;
    font-size: 14px;
}

.cart__item__container__info__action {
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: space-between;
}

.cart__item__container__info__action button {
    border-radius: 50%;
    height: 26px;
    width: 26px;
    border: none;
    color: #707070;
    text-align: center;
}

.cart__item__container__info__action button.cart__item__container__info__action__delete {
    background-image: url('../images/icons/icon_delete.svg');
    background-color: transparent;
    border-radius: 0px;
}

.cart__item__container__info__price {
    border-left: 1px solid #ECEEF0;
    padding: 0 20px;
}

.cart__item__container__info__price p {
    color:#707070;
}

.cart__item__container__info__price p:nth-child(2) {
    font-weight: 700;
    color: black;
}

.cart__form p {
    color: #707070;
    font-size: 18px;
    width: 220px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.cart__form span {
    color: black;
}

.cart__form button {
    background-color: #FD7114;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    color: white;
    width: 220px;
    height: 36px;
    margin-top: 18px;
    font-size: 14px;
}
