.cart__page {
    background-color: var(--white-bg);
    position: relative;
    max-width: 920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0 auto;
    height: 100%;
    text-align: left;
    padding: 40px;
    padding-bottom: 100px;
}

.cart__page h1 {
    align-self: center;
    padding: 250px 200px;
}

.cart__page__list__items {
    display: flex;
    flex-direction: column;
}

.cart__page h2 {
    align-self: flex-start;
    margin-top: 20px;
}

.cart__page__list__items__form {
    display: flex;
}

.cart__item__container {
    border: var(--cart-item-container-border);
    box-shadow: var(--cart-item-container-box-shadow);
    border-radius: var(--cart-item-container-border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 16px;
    width: 560px;
    max-height: 160px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.cart__item__container img {
    width: 125px;
    height: 125px;
    object-fit: contain;
    border-radius: var(--cart-item-container-img-border-radius);
    box-shadow: var(--cart-item-container-img-box-shadow);
    border: var(--cart-item-container-img-border);
}

.cart__item__container__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cart__item__container__info p:first-child {
    width: 220px;
}

.cart__item__container__info__action {
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: space-between;
}

.cart__item__container__info__action button {
    border-radius: 50%;
    height: 26px;
    width: 26px;
    border: none;
    color: var(--font-color-gray);
    text-align: center;
    cursor: pointer;
}

.cart__item__container__info__action button.cart__item__container__info__action__delete {
    background-image: url('../images/icons/icon_delete.svg');
    cursor: pointer;
    background-color: transparent;
    border-radius: 0px;
}

.cart__item__container__info__price {
    border-left: var(--cart-item-containte-info-price-border);
    padding: 0 20px;
}

.cart__item__container__info__price p {
    color: var(--font-color-gray);
}

.cart__item__container__info__price p:nth-child(2) {
    font-weight: 700;
    color: var(--font-color-black);
}

.cart__form {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    border-left: var(--cart-form-border-left);
}

.input__block {
    display: flex;
    flex-direction: column;
    text-align: left;
    position:relative;
    width: 220px;
}

.input__block input {
        box-sizing: border-box;
        background-color: transparent;
        border: var(--input-block-border);
        width: 220px;
        height: 40px;
        margin: 10px 0px;
        padding: 0px 10px;
        border-radius: var(--inpit-block-border-radius);
        outline: none;
        font-size: var(--font-size-medium);
}

.input__block input:focus {
    border: var(--input-block-focus-border);
    transition: 0.5s;
}

.cart__form .input__block span {
    position: absolute;
    left: 0;
    top: 20px;
    padding: 0px 10px;
    pointer-events: none;
    color: var(--input-block-span-color);
    transition: 0.5s;
}

.cart__form .input__block label {
    color: var(--font-color-red);
    margin-left: 10px;
}

.input__block input:focus ~ span,
.input__block input:not(:placeholder-shown) ~ span {
    font-weight: 600;
    transform: translateX(10px) translateY(-20px);
    font-size: var(--font-size-small);
    background: var(--white-bg);
}

.select__block {
    display: flex;
    flex-direction: column;
    text-align: left;
    position: relative;
    width: 220px;
}

.select__block select {
    box-sizing: border-box;
    background-color: transparent;
    border: var(--input-block-border);
    width: 220px;
    height: 40px;
    margin: 10px 0px;
    padding: 0px 10px;
    border-radius: var(--inpit-block-border-radius);
    outline: none;
    font-size: var(--font-size-medium);
}

.select__block select:focus {
    border: var(--input-block-focus-border);
    transition: 0.5s;
}

.cart__form .select__block span {
    position: absolute;
    left: 10px;
    top: 0px;
    padding: 0px 10px;
    pointer-events: none;
    color: var(--input-block-span-color);
    transition: 0.5s;
    background-color: var(--white-bg);
    font-size: var(--font-size-small);
}

.cart__form p {
    color: var(--font-color-grey);
    font-size: var(--font-size-large);
    width: 220px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.cart__form span {
    color: var(--font-color-black);
}

.cart__form button {
    background-color: var(--cart-form-button-bg);
    border-radius: var(--cart-form-button-border-radius);
    border: none;
    box-sizing: border-box;
    color: var(--font-color-white);
    width: 220px;
    height: 36px;
    margin-top: 18px;
    font-size: var(--font-size-small);
}
