:root {
    --footer-color: #707070;
    --footer-bg: #F1F1F3;
}

footer {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-bg);
    color: var(--footer-color);
    height: 76px;
    width: 100%;
    bottom: 0;
}