footer {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: var(--footer-bg);
    color: var(--footer-color);
    height: 76px;
    width: 100%;
    bottom: 0;
}