header {
    background-color: #110F21;
    color:white;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    .header__logo__block {
        margin-left: 10%;
    }
    .header__interaction__block {
        margin-right: 5%;
        text-transform: uppercase;
        display:flex;
        align-items: center;
        button {
            background-color: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        a { 
            margin-left: 25px;
            align-items: center;
            display: flex;
            justify-content: center;
            cursor: pointer;
        }
        a:nth-last-child(1) {
            margin: 0px;
        }
        span.header__register__link {
            margin: 0 20px;
        }
        span.header__register__link:first-of-type {
            margin: 0 0 0 20px;
        }
        span.header__vertical__line {
           border:1px solid #FD7114;
           margin: 0 20px;
           height: 13px;
           background-color: #FD7114;
        }
    }
}
