.modal__overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .modal__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white-bg);
    padding: 30px;
    border-radius: var(--modal-container-border-radius);
    color: var(--font-color-black)
}

.modal__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white-bg);
    padding: 30px;
    border-radius: var(--modal-container-border-radius);
    color: var(--font-color-black)
}

.modal__container .modal__close-button {
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.modal__container input {
    box-sizing: border-box;
    background-color: transparent;
    border: var(--modal-container-input-border);
    width: 362px;
    height: 40px;
    margin: 10px 0px;
    padding: 0px 10px;
    border-radius: var(--modal-container-input-border-radius);
    outline: none;
    font-size: var(--font-size-medium);
}

.modal__container .input__container input:invalid ~ label{
    display: block;
}

.modal__container p {
    font-size: var(--font-size-smallest);
    width: 278px;
    text-align: left;
    align-self: flex-start;
    float: left;
    color: var(--font-color-gray);
    margin: 0px;
}

.modal__container button:last-child {
    box-sizing: border-box;
    width: 362px;
    height: 40px;
    border: none;
    border-radius: var(--modal-container-input-border-radius);
    background-color: var(--orange-bg);
    color: var(--font-color-white);
    cursor: pointer;
    margin-top: 50px;
}

.modal__login__transfer {
    background-color: var(--white-bg);
    border-radius: var(--modal-container-border-radius);
    color: var(--font-color-black);
    padding: 20px 95px;
    margin-top: 15px;
}

.modal__login__transfer span {
    cursor: pointer;
    color: var(--font-color-orange);
}

.modal__container .input__container {
    display: flex;
    flex-direction: column;
    text-align: left;
    position:relative;
    width: 362px;
}

.modal__container .input__container {
    text-align: left;
}
.modal__container .input__container label {
    color: var(--font-color-red);
    font-size: var(--font-size-small);
}

.modal__container .input__container input:focus {
    border: var(--modal-container-focus-input-border);
    transition: 0.5s;
}

.modal__container .input__container .input__container__password__button {
    position: absolute;
    right: 10px;
    top: -27px;
    width: 22px;
    height: var(--font-size-medium);
    background-color: transparent;
    background-image: url(../images/icons/visibility.svg);
    opacity: 0.7;
}

.modal__container .input__container .input__container__password__button:hover {
    opacity: 1;
    transition: 0.5s;
}

.modal__container .input__container span {
    position: absolute;
    left: 0;
    top: 20px;
    padding: 0px 10px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}

.modal__container .input__container input:focus ~ span,
.modal__container .input__container input:not(:placeholder-shown) ~ span {
    font-weight: 600;
    transform: translateX(10px) translateY(-20px);
    font-size: var(--font-size-small);
    background: var(--white-bg);
}

/* Modal Product Item */

.modal__container__product__info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.modal__container__product__info img {
    width: 400px;
    height: 296px;
    border: var(--modal-container-product-info-img);
    box-shadow: var(--modal-container-product-info-img-box-shadow);
    border-radius: var(--modal-container-img-border-radius);
    object-fit: contain;
}

.modal__container__product__info h2 {
    font-size: var(--font-size-large);
    width: 260px;
    text-align: left;
}

.modal__container__product__description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin-left: 40px;
}

.modal__container__product__description p {
    margin-bottom: 5px;
    font-size: var(--font-size-small);
}

.modal__container__product__description p.price__label {
    font-size: var(--font-size-small);
    color: var(--font-color-black);
    text-transform: uppercase;
    width: 220px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.modal__container__product__description p.price__label span {
    align-self: flex-end;
}

.modal__container__product__description span {
    color: var(--font-color-black);
    font-weight: 700;
    margin-left: 10px;
}

.modal__container__product__description .modal__container__product__description__row button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: var(--font-color-white);
    background-color: var(--modal-container-product-description-button-bg);
    border: none;
    font-size: var(--font-size-largest);
    padding: 0px;
    line-height: 0px;
    text-align: center;
    margin: 0px;
    cursor: pointer;
}

.modal__container__product__description .modal__container__product__description__row button.active {
    background-color: var(--white-bg);
    color: var(--font-color-orange);
    border: var(--vertical-line-border);
}

.modal__container__product__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
}

.modal__container__product__action button {
    width: 220px; 
    height: 36px;
    border: var(--modal-container-product-action-button-border);
    border-radius: var(--modal-container-input-border-radius);
    color: var(--font-color-orange);
    text-transform: uppercase;
    margin-right: 20px;
    background-color: var(--white-bg);
}

.modal__container__product__action button.active {
    border: none;
    background-color: var(--orange-bg);
    color: var(--font-color-white);
    cursor: pointer;
}

.modal__container__product__action button.button__buy_now {
    margin: 0px;
    width: 220px;
    height: 36px;    
    margin-left: 40px;
}

.modal__container__product__description .modal__container__product__description__row p {
    width: 20px;
    text-align: center;
    margin: 0;
    align-self: center;
}

.modal__container__product__description__row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* Modal Purchase */

.modal__container__purchase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.modal__container__purchase .modal__close-button{
    width: 18px;
    height: 18px;
    right: 30px;
    top: 10px;
}

.modal__container .modal__container__purchase p {
    width: 340px;
    text-align: center;
    align-self: center;
    color: var(--font-color-black);
    margin-bottom: 20px;
}

.modal__container .modal__container__purchase button.modal__container__purchase__button {
    width: 220px;
    height: 40px;
    margin-top: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: var(--modal-container-input-border-radius);
    background-color: var(--orange-bg);
    color: var(--font-color-white);
    cursor: pointer;
}

/* Modal Orders */

.orders__item__container {
    border: var(--orders-item-container-border);
    box-shadow: var(--orders-item-container-box-shadow);
    border-radius: var(--modal-container-img-border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 16px;
    width: 560px;
    max-height: 160px;
    margin-right: 40px;
    margin-bottom: 20px;
}

.orders__item__container img {
    width: 125px;
    height: 125px;
    object-fit: contain;
    border-radius: var(--modal-container-img-border-radius);
    box-shadow: var(--orders-item-container-img-box-shadow);
    border: var(--orders-item-container-img-border);
}

.orders__item__container__info__price {
    border-left: var(--orders-item-container-info-price-border);
    padding: 20px;
    display: flex;
    flex-direction: column;
}

 .modal__container .orders__item__container__info__price p {
    color: var(--font-color-black);
    margin: 4px;
}

.orders__item__container__info {
    padding: 0 20px;
    align-self: flex-start;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.modal__container .orders__item__container__info p {
    color: var(--font-color-black);
    margin: 5px;
}

.modal__container .orders__item__container__info p span {
    font-weight: 700;
}

.orders__item__container__info__price p:nth-child(2) {
    font-weight: 700;
}

.modal__container__orders {
    display: flex;
    flex-direction: column;
    max-width: 904px;
    justify-content: space-between;
    align-items: center;
}

.modal__container__orders__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 520px;
}

.modal__container__orders p {
    width: auto;
}

.modal__container__orders__info div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__container__orders__info div span {
    margin-left: 6px;
}

/* Modal Not logged in */

.modal__container__not_logged_in {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.modal__container__not_logged_in h2 {
    width: 220px;
}

.modal__container__not_logged_in button, .modal__container__not_logged_in button:last-child {
    width: 220px;
    height: 36px;
    cursor: pointer;
    background-color: var(--orange-bg);
    color: var(--font-color-white);
    border: none;
    margin: 8px 0;
    border-radius: var(--modal-container-input-border-radius);
}

.modal__container__not_logged_in button:last-child {
    color: var(--font-color-orange);
    background-color: var(--white-bg);
    border: var(--modal-container-product-action-button-border);
}

.modal__container__not_logged_in button.modal__close-button {
    width: auto;
}