.user_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--white-bg);
    max-width: 904px;
    margin-left: auto;
    margin-right: auto;
    min-height: 137vh;
    padding-bottom: 200px;
}

.user_page .list__items h2 {
    margin-top: 80px;
}

.user_page .user_page__image {
    margin-top: 60px;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--user-page-img-bg);
    font-size: 24px;
}

.user_page .user_page__nav {
    display: flex;
}

.user_page .user_page__nav .user_page__nav_button{
    width: 164px;
    height: 74px;
    box-sizing: border-box;
    background-color: var(--white-bg);
    border: var(--user-page-nav-button-border);
    position: relative;
}

.user_page .user_page__nav .user_page__nav_button.active {
    background: var(--orange-bg);
    color: var(--font-color-white);
}

.user_page .user_page__nav .user_page__nav_button.active::after {
    content: "";
	position: absolute;
	height: 10px;
	width: 25px;
	bottom: -9px;
	left: 69px;
	background-color: var(--orange-bg);
	clip-path: polygon(50% 100%, 100% 0, 0 0);
}

.user_page .user_page__info, .user_page .user_page__password_change {
    text-align: left;
    width: 480px;
}

.info__form__input_block, .password_change__form__input_block {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
}

.input_block__input {
    width: 362px;
    height: 40px;
    box-sizing: border-box;
    background-color: transparent;
    border: var(--input-border);
    margin: 10px 0px;
    padding: 0px 10px;
    border-radius: var(--input-border-radius);
    outline: none;
    font-size: 16px;

}

.input_block__input:focus {
    border: var(--input-focus-border);
    transition: 0.5s;
    outline: none;
}

.info__form__input_block span, .password_change__form__input_block span {
    position: absolute;
    left: 0;
    top:20px;
    padding: 0px 10px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.5s;
}
.info__form__input_block label, .password_change__form__input_block label {
    color: var(--font-color-red);  
    max-width: 362px;
    font-size: 14px;
    text-align: left;
}

.info__form__input_block input:not(:placeholder-shown) ~ span,
.info__form__input_block input:focus ~ span,
.password_change__form__input_block input:not(:placeholder-shown) ~ span,
.password_change__form__input_block input:focus ~  span{
    color: var(--font-color-black);
    font-weight: 600;
    transform: translateX(10px) translateY(-20px);
    font-size: 14px;
    background: var(--white-bg);
}

.user_page__info__form button, .user_page__password_change__form button {
    width: 362px;
    height: 40px;
    border-radius: var(--input-border-radius);
    border: none;
    background-color: var(--orange-bg);
    color: var(--font-color-white);
    font-weight: 500;
}

.user_page__password_change__form {
    padding-bottom: 120px;
}

/* Order History */

.order_history__container {
    margin: 40px 0 0 0;
    border: var(--order-history-border);
    box-shadow: var(--order-history-box-shadow);
    border-radius: var(--order-history-border-radius);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 486px;
    padding: 20px;
}

.order_history__container p {
    color: var(--font-color-gray);
    text-align: left;
}

.order_history__container span {
    color: var(--font-color-black);
    margin-left: 20px;
}